<main>
<h1>Editing Book</h1>
<%= form_for(@book, url:"/books/#{@book.id}") do |b| %>
<% if @book.errors.any? %>
    <h3><%= @book.errors.count %>errors prohibited this book from being saved:</h3>
      <ul>
      <% @book.errors.full_messages.each do |message| %><li><%= message %></li>
      <% end %>
    </ul>
<% end %>
  <h4>Title</h4>
  <%= b.text_field :title, class: "book_title"%>
  <h4>Body</h4>
  <%= b.text_area :body, class: "book_body" %>
  <p><%= b.submit 'Update Book'%></p>

  <%= link_to "Show", book_path(@book), class: "show_#{@book.id}" %>
  |
  <%= link_to "Back", books_path, class: "back" %>

<% end %>
</main>