<main>
<% if flash[:success] %>
  <div class="flash">
    <%= flash[:success] %>
  </div>
<% end%>

<h1>Books</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
  </tr>
  <% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
      <td>
        <%= link_to "Show", book_path(book), class: "show_#{book.id}" %>
        <%= link_to "Edit", edit_book_path(book), class: "edit_#{book.id}" %>
        <%= link_to "Destroy", book_path(book), method: :delete, class: "destroy_#{book.id}" %>
      </td>
    </tr>
  <% end %>
</table>

<h1>New Book</h1>
<%= form_for(@book) do |b| %>
  <% if @book.errors.any? %>
    <h3><%= @book.errors.count %>errors prohibited this book from being saved:</h3>
      <ul>
      <% @book.errors.full_messages.each do |message| %><li><%= message %></li>
      <% end %>
    </ul>
<% end %>

  <h4 class="form_field">Title</h4>
  <%= b.text_field :title, class: "book_title" %>
  <h4 class="form_field">Body</h4>
  <%= b.text_area :body, class: "book_body" %>
  <p><%= b.submit 'Create Book'%></p>
<% end %>

</main>